/stresstest-ssq-baseline-retrieval-40-100.json
/stresstest-ssq-modifier-retrieval-40-100.json
/stresstest-ssq-both-retrieval-40-100.json
/stresstest-ssq-both-retrieval-40-100-squad-80-split.json
/stresstest-ssq-both-retrieval-40-100-squad-20-split.json
/stresstest-ssq-baseline-retrieval-40-full-0.json
/stresstest-ssq-modifier-retrieval-40-full-0.json
/stresstest-ssq-baseline-retrieval-40-full-1.json
/stresstest-ssq-modifier-retrieval-40-full-1.json
/stresstest-ssq-both-retrieval-40-full-0.json
/stresstest-ssq-both-retrieval-40-100-squad-0.json
/stresstest-ssq-modifier-retrieval-40-100-squad-1.json
